
    

body{
    background-image: url(https://fotografias-neox.atresmedia.com/clipping/cmsimages01/2017/09/28/611C64A8-4A68-49B4-89B8-8D04D0572150/98.jpg?crop=1147,645,x0,y34&width=1900&height=1069&optimize=high&format=webply);
}
.titulo{
    color: blueviolet;
    text-align: center;
    font-size: 150px;
    
}
p{
    color: chartreuse;
    font-size: 120px;
}